<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"> 
    <title>Login - Real Time Chat App</title>
</head>
<body>
    <div class="container-login">
        <h1 class="title">Realtime Chat App</h1>
        <span id="ligne"></span>
    
        <form action="">
            <div>
                <p class="error">All input fields are Required!</p>
            </div>
            
            <div class="email">
                <label for="email">E-mail Adress</label>
                <input type="text" name="email" id="email" placeholder="Enter your email">
            </div>

            <div class="password">
                <label for="password">Password</label>
                <div class="pass-eye">
                    <input type="password" name="password" id="pass-log" placeholder="Enter your Password">
                    <span>
                        <img src="../assets/view.png" alt="" id="view">
                    </span>
                </div>
            </div>

            <button id="login-btn">Login to Chat</button>
            <p id="qa">
                Don’t have an account ? <a href="../view/register.html">Sign up now</a>
            </p>
        </form>
    </div>
        <script src="../js/register.js"> </script>
</body>
</html>
